div.hover-imagen{
  position: relative;
  overflow: hidden;
}
div.hover-imagen img {
  -webkit-transition: all .5s ease-in-out;

}

div.invitado:hover img{
  -webkit-filter: grayscale(1);
  /* transform: rotate(3deg); */ /* Sirve para rotar la imagen */
}
